// styles header

// hero styles

body {
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-family: var(--ff-sans);
    overflow-x: hidden;
}


.container{
    max-width: 1200px;
    margin:0 auto;
}

.logo-image{
    cursor:pointer;
}



.header{
  background-color: var(--clr-white);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
  color: var(--clr-black);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
  padding:var(--spacing-100);
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Allow interaction when active */
  
  
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0 0% 0% / 0.75);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    // pointer-events: none; /* Prevent interaction when not active */
    z-index: 998; /* Ensure it is below the header */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-200);
}
.header__inner{
  display: flex;
  align-items: center;
  gap:var(--spacing-200);
  
}
.menu-btn {
    display:none; /* Show hamburger button on mobile */
    color:var(--clr-black);
  }
  .menu-btn{
    display:block;
    background:none;
    border:none;
    font-size: 1.8rem;
    cursor:pointer;
    z-index:2000;
    margin-top:-0.3em;
    
}

.navigation{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:var(--spacing-200);
    

    .nav__list {
      position: fixed;
      list-style:none;
      display:flex;
      flex-direction:column;
      gap:var(--spacing-400);
      top: var(--spacing-150);
      left: -150%; /* hidden off screen */
      height: 100vh;
      background: var(--clr-white);
      transition: left 0.3s ease;
      font:var(--font-2);
      padding:var(--spacing-400);
      z-index:1001; /* Ensure it is above the overlay */
        

        .nav__items {
        display:flex;
        flex-direction:column;
        align-self:flex-start;
        color: var(--clr-black);
        
        }

            .nav__items__links {
            text-decoration: none;
            color: var(--clr-black);
            cursor:pointer;
            font: var(--font-5);
            position: relative;

        }

   }

}



// when menu is open 
.nav__list.open {

left:0;
width:60%;
}


.nav__items__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--clr-orange-500);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav__items__links:hover::after {
  transform: scaleX(1);   
  opacity: 1;
}

.nav__list .nav__logo {
  align-self: flex-start;
  margin-bottom: 8em;
}

.shopping-cart {
        display: flex;
        align-items: center;
        gap: 1rem;

       .shopping-cart-icon {
        width:24px;
        height: 24px;
        cursor: pointer;
     }

     .avatar {

         width: 24px;
          height: 24px;
            cursor: pointer;
            }

    }

//======================= styling the carousel ========================

.image-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-300);
    overflow-x: hidden;
    padding-bottom: var(--spacing-300);
    margin-top: var(--spacing-1000);

}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
//  max-width: 600px;



}


.image-container img {
  width: 100%;
// height: 100%;
border-radius: 0.75rem;
  object-fit: cover;
  display:block;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

img.hidden {
  display: none;
}

img.block {
  display: block;
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  background-color:var(--clr-white);
  color:var(--clr-black);
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  padding: 12px;
  line-height: 1;
  z-index: 1;
}

.nav-button.left {
  left: 1rem;

}

.nav-button.right {
  right: 1rem;
   
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.thumbnails{
    display:none;
}

//============ styling prices information section===============

.Information {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
     padding: 0 var(--spacing-400) ;
     margin-top: var(--spacing-400);
}

.Info__inner{
 

    .Info__title{
        color:var(--clr-grey-500);
        font: var(--font-7);
        text-transform: uppercase;
        letter-spacing: var(--ls-7);

    }
    .Info__product{
        font: var(--font-2);
        color: var(--clr-grey-950);
        font: var(--font-2);
       letter-spacing: var(--ls-4);
       max-inline-size: 20ch;
       
    }
    .Info__description{
        font: var(--font-5);
        color: var(--clr-grey-500);
        letter-spacing: var(--ls-5);
    }

}

.Info__price{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

    .price__current{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-200);

        .priceDiscount{
            display: flex;
            align-items: center;
            gap: var(--spacing-200);
        }

        .price__current--number{
            font: var(--font-2);
            color: var(--clr-grey-950);
            letter-spacing: var(--ls-2);

        }
        .price__current--discount{
            font: var(--font-6);
            color: var(--clr-white);
            background-color: var(--clr-black);
            padding:var(--spacing-100) var(--spacing-200);
            border-radius: 0.5rem;
            letter-spacing: var(--ls-6);
            display:inline-block;
        }
        .price__current--original{
               font: var(--font-5);
                color: var(--clr-grey-500);
                text-decoration: line-through;
                letter-spacing: var(--ls-5);
               align-self: flex-end;
        }

        
    }
    .Info__add-to-cart{
            display: flex;
           flex-direction: column;
            gap: var(--spacing-200);
            gap: var(--spacing-400);
        
        
    
        .price__quantity{
            display: flex;
            align-items: center;
            gap: var(--spacing-200);
            background-color: var(--clr-grey-100);
            padding: var(--spacing-200);
            border-radius: 0.5rem;
            justify-content: space-between;
            // width:100%;
            .quantity__button{
                background-color: transparent;
                border:none;
                font-size: 1.5rem;
                color: var(--clr-orange-500);
                cursor: pointer;
            }

            
            .quantity__number{
                font: var(--font-2);
                color: var(--clr-grey-950);
                letter-spacing: var(--ls-2);
            }
        }
    
    }
       
    
     
        

        .price__add-to-cart{
           
             width:100%;
           gap: var(--spacing-200);
            background-color: var(--clr-orange-500);
            color: var(--clr-black);
            font: var(--font-4);
            letter-spacing: var(--ls-4);
            padding: var(--spacing-200);
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
        
            


            &:hover{
                background-color: var(--clr-orange-300);
                box-shadow: 0 4px 8px rgba(255, 165, 0, 0.3);
                transition: background-color 0.3s ease, box-shadow 0.3s
            }
        
        
            .add-to-cart__icon{
                color: var(--clr-black);
                filter: brightness(0) invert(0);
            }

        .add-to-cart__text{
        font: var(--font-3);
        color: var(--clr-black);
        letter-spacing: var(--ls-3);
        }

    
     }
    

    //  styling shopping cart section top of navigation

    .cart-checkout__empty{
        position: absolute;
      
        top: 100px;
        right: -35px;
        width: 250px;
        padding: var(--spacing-400);
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: var(--clr-white);
        .cart-checkout__empty--content{
            font: var(--font-5);
            color: var(--clr-black);
            letter-spacing: var(--ls-5);
            display:flex;
            flex-direction: column;
           
          
            padding-bottom: var(--spacing-400);
            
        }
        .cart-checkout__empty--icon{
              border-bottom: 1px solid var(--clr-grey-300);
        }
    }

    .cart-items-count {
        position:absolute;
        top: -1;
        left: -0.5em;
        transform: translate(-50%, -50%);
        background-color:var(--clr-orange-500);
        border-radius: 50%;
        padding:var(--spacing-100) var(--spacing-150) var(--spacing-100) var(--spacing-150);
        font: var(--font-6);
        cursor:pointer;
        color: var(--clr-black);

    }
    .cart-checkout__content{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
        padding: var(--spacing-400);
        background-color: var(--clr-white);
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100px;
        right: -35px;
        width: 250px;
        z-index: 1002;
       
    }
    .cart-checkout__item{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-200);
        align-items: center;
        border-top: 1px solid var(--clr-grey-300);
        padding-top: var(--spacing-100);
    
    }

        .cart-checkout__thumbnail{
            width: 50px;
            height: 50px;
            border-radius: 0.5rem;
            object-fit: cover;
        }

        .cart-checkout__details{
            display: flex;
            flex-direction: column;
           

            .cart-checkout__product-name{
                font: var(--font-5);
                color: var(--clr-grey-950);
                letter-spacing: var(--ls-5);
                display:inline-block;
                max-width: 200px;
            }
         

                .cart-checkout__total{
                    font: var(--font-4);
                    color: var(--clr-black);
                    text-decoration:underline;
                    text-underline-offset: 4px;
                    letter-spacing: var(--ls-4);
                    font-weight: bold;
                    
                }
            }
        

            .cart-checkout__delete{
                .cart-checkout__action--remove{
                background-color: transparent;
                font: var(--font-6);
                border:none;
                color: var(--clr-grey-950);
                letter-spacing: var(--ls-6);
                cursor: pointer;
                }
                &:hover{
                   opacity: 0.5;
                    transition: color 0.3s ease;
                }
               
            }
        
    

   
            .cart-checkout__action{
                background-color: var(--clr-orange-500);
                color: var(--clr-black);
                font: var(--font-6);
                letter-spacing: var(--ls-4);
                padding: var(--spacing-200);
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                width:100%;
                border-radius: 0.5rem;

                &:hover{
                    background-color: var(--clr-orange-300);
                    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.3);
                    transition: background-color 0.3s ease, box-shadow 0.3s
                }
            

             
       }

    







